<%- model_class = Import -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:time_to) %></th>
      <th><%= model_class.human_attribute_name(:time_from) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @imports.each do |import| %>
      <tr>
        <td><%= link_to import.id, import_path(import) %></td>
        <td><%= Time.at(import.time_to) %></td>
        <td><%= Time.at(import.time_from) %></td>
        <td><%=l import.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_import_path,
            :class => 'btn btn-primary' %>
